.centrador {
    text-align: center;
    font-family: 'Mouse Memoirs', sans-serif;

}

h1 {
    font-family: 'Mouse Memoirs', sans-serif;
    color: darkgreen;
    text-align: center;
}

h2 {
    color: rgb(18, 211, 137);
}


.otros {
    font-style: italic;
}

#cajita {
    border-radius: 30%;
    background-color: rgb(162, 187, 105);
    width: 50%;
    column-count: 2;
    box-sizing: border-box;
    color: rgb(231, 12, 12);
    padding: 5% 5%;
    margin: auto;
}

#cajita p {
    margin-top: 0%;
    color: rgb(56, 45, 2);
}

#otrosimagen {
    margin: 30px;

}

.letras {
    font-family: 'Mouse Memoirs', sans-serif;
}